:root {
    --white: white;
    --maincolor: cyan;
    --accentcolor: rgb(208, 47, 154);
    --primarydarkcolor: rgb(59, 58, 58);
    --seconddarkcolor: rgba(182, 182, 182, 0.511);
    --mainfonts: Verdana, Tahoma, sans-serif;
}

body {
    text-align: center;
    line-height: 25px;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
    font-family: var(--mainfonts);
    background-color: var(--primarydarkcolor);
}

h1 {
    background-color: var(--seconddarkcolor);
    color: var(--maincolor);
    border: 3px solid var(--maincolor);
    display: inline-block;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-between;
    margin-top: 25px;
}

#inputheading {
    color: var(--accentcolor);
    font-size: 150%;
    margin-top: 15px;
}

#goodluckMsg {
    font-size: 66%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#video {
    margin-top: 50px;
    margin-bottom: 50px;
}


